*.log
*.aux
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz

*.dvi
*.ps
*.idx
*.ind
*.ilg
*.nav
*.snm
*.vrb
*.acn
*.acr
*.glo
*.gls

*.pdf

.latexmk/

*.cpp
*.exe
*.bat
*.sh
*.xml
tags
files/
solutions/
statement-sections/
tests/
.html/
.pdf/
*.mu
*.json
